html{
    scroll-behavior: smooth;
}

body{
    background-color: #27253c;
    font-family: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', Arial, sans-serif;
    color: black;
}

.header{
    background-image: url("../imgs/background.jpg");
    background-size: cover;
    height: 100vh;
    overflow: auto;
    font-size: 20px;
}

span>a{
    color: #2E9CCA;
}

span>a:hover{
    color: #29648A;
}

nav{
    background-color: #737091;
}

.social{
    color: lightgray;
    transition: color 0.2s;
    padding-left: 2px;
}

.social:hover{
    color: white;
}

.nav-link{
    color: gray;
    transition: color 0.2s;
}

.nav-link:hover{
    color: white;
}

#user-img{
    border-radius: 50%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 150px;
}

#intro{
    text-align: center;
}

#about{
    background-color: #73a0a5;
}
