html {
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
        url("../imgs/background3.jpg");
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 1px 1px 0 #333,
        -1px -1px 0 #333,
        1px -1px 0 #333,
        -1px 1px 0 #333,
        2px 2px 5px rgba(0, 0, 0, 0.65);
}

@media only screen and (max-device-width: 1366px) {
    header {
        background-attachment: scroll;
    }
}

header h1 {
    color: #fff;
}

@media screen and (min-width: 800px) {
    #typewriter {
        overflow: hidden;
        border-right: 3px solid #fff;
        white-space: nowrap;
        margin: 0 auto;
        animation: typing 2s steps(35) 1s 1 normal both, blink .5s step-end infinite alternate;
        animation-delay: 1s;
        letter-spacing: 2px;
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 13em
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    color: #fff;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.social {
    color: rgba(255, 255, 255, .6);
    transition: color 0.2s;
    padding-left: 2px;
}

.social:hover {
    color: white;
}

hr {
    border: 3px solid #f3969a;
    color: #f3969a;
    width: 75px;
    opacity: 50%;
}

.list-group-item {
    word-wrap: break-word;
}

.timeline {
    list-style-type: none;
    position: relative;
}

.timeline:before {
    content: '';
    background-color: #f3969a;
    display: inline-block;
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
}

.timeline>li:before {
    content: '';
    background-color: white;
    display: inline-block;
    position: absolute;
    border: 3px solid #f3969a;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: -9px;
    z-index: 1;
}

/* .expand-caret {
    color: black;
    transition: opacity 0.2s, transform 0.2s;
    opacity: 1;
}

.expand-caret:hover {
    opacity: 0.7;
}

a[aria-expanded="false"]>.expand-caret {
    transform: rotate(90deg);
} */