html {
    scroll-behavior: smooth;
}

body {
    background: rgb(60, 133, 221);
    background: linear-gradient(178deg, rgba(60, 133, 221, 1) 0%, rgba(255, 255, 255, 1) 90%);
    font-family: 'Courier New', monospace;
    color: black;
}

h2 {
    background-color: #0F1626;
}

.header {
    overflow: auto;
    font-size: 3vh;
    background: url("../imgs/background.jpg") no-repeat center center fixed;
    min-height: 500px;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.header h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    white-space: nowrap;
    text-shadow: 1px 1px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 2px 2px 5px rgba(0, 0, 0, 0.65);
    overflow: hidden;
    width: 15em;
    border-right: 3px solid #fff;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.header img {
    box-shadow: 2px 1px 1px black;
    width: 150px;
}

.header p {
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px 0 #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 2px 2px 5px rgba(0, 0, 0, 0.65);
}

span>a {
    color: #2e9cca;
}

span>a:hover {
    color: #29648a;
}

.btn {
    background-color: #0F1626;
    color: white;
}

.btn:hover {
    background-color: #2b354e;
    color: white;
}

.btn:active {
    background-color: #454f6a;
    color: white;
}

.navbar {
    background-color: #0F1626;
}

.nav-pills a {
    color: #0F1626;
}

.nav-pills .nav-item {
    background-color: white;
}

.nav-pills .nav-item:hover {
    background-color: #BBC3C6;
}

.nav-pills .nav-item .active {
    background-color: #0F1626;
}

.social {
    color: lightgray;
    transition: color 0.2s;
    padding-left: 2px;
}

.social:hover {
    color: white;
}

.info {
    background-color: #FBEEC1;
    box-shadow: 3px 2px 2px rgb(19, 19, 19);
}

#github {
    color: black;
}

#linkedin {
    color: #0077b5;
}

#mail {
    color: white;
}

#resume {
    color: white;
}

footer .social {
    transition: opacity 0.2s;
    opacity: 1;
}

footer .social:hover {
    opacity: 0.5;
}

.school-logo {
    max-width: 100%;
    margin: auto;
    display: block;
    height: auto;
}

.expand-caret {
    color: white;
    transition: opacity 0.2s, transform 0.2s;
    opacity: 1;
}

.expand-caret:hover {
    opacity: 0.7;
}

a[aria-expanded='false']>.expand-caret {
    transform: rotate(90deg);
}